
  .split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .gutter {
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../static/vertical.png');
  }

  .gutter.gutter-vertical {
    cursor: ns-resize;
    background-image: url('../static/horizontal.png');
  }

  .split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }
